<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to HomePage</h1>
    
    <ul>
        {{#each posts}}
            <li>{{title}}</li>
        {{/each}}
    </ul>
</body>
</html>
